:root {
  /* Color Variables */
  --color-header-background: #2b3945;
  --color-content-background: #202c37;

  --color-text-primary: #ffffff;

  --color-button-background: #ff8c42;
  --color-button-background-hover: #ff6a22;

  --color-error-bg: #ffe6e6;
  --color-error-border: #ff4d4d;
  --color-error-text: #b30000;

  /* Box Shadows */
  --box-shadow-light: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  --box-shadow-heavy: 0 6px 12px -2px rgba(45, 45, 89, 0.25),
    0 3px 7px -3px rgba(100, 8, 8, 0.3);

  /* Spacing */
  --padding-button: 20px;
  --padding-input: 20px 250px 20px 20px;
  --padding-section: 20px 40px;
}

#root {
  min-height: 100vh;
  background-color: var(--color-content-background);
  color: var(--color-text-primary);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  margin: 5px 0;
}

/* Search Section */
.search-section {
  height: 70px;
  box-shadow: var(--box-shadow-heavy);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-section);
  position: sticky;
  top: 0;
  background-color: var(--color-header-background);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-input {
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  border: none;
  font-size: 18px;
  outline: none;
  padding: var(--padding-input);
}

.search-button,
.show-all-btn {
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  border: none;
  font-size: 18px;
  outline: none;
  padding: var(--padding-button);
  cursor: pointer;
  color: var(--color-text-primary);
  background-color: var(--color-button-background);
}

.search-button:hover,
.show-all-btn:hover {
  background-color: var(--color-button-background-hover);
}

.search-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Countries Section */
.countries-section {
  display: grid;
  margin: auto;
  margin-top: 40px;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  margin-inline: auto;
}

.country-card {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--color-header-background);
}

.country-flag-image {
  height: 160px;
  overflow: hidden;
}

.country-flag-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-info {
  padding-inline: 16px;
}

.country-name {
  font-size: 24px;
  margin-block: 16px;
}

.country-info p {
  margin-block: 8px;
}

/* Error Section */
.error-container {
  background-color: var(--color-error-bg);
  border: 1px solid var(--color-error-border);
  padding: 16px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: var(--color-error-text);
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* Loading Text Styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 24px;
  color: #ffffff; /* White text to stand out on the dark background */
  font-weight: 600;
}
